<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <style type="text/css">
      header, footer {
        font-family: sans-serif;
        font-weight: bold;
      }

      header {
        text-align: center;
        padding-bottom: 1rem;
      }

      footer {
        text-align: center;
        padding-top: 1rem;
      }
    </style>
  </head>

  <body>
    <header>
      My header goes here
    </header>

    {{ content }}

    <footer>
      My footer goes here
    </footer>
  </body>
</html>